@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --backgorund-color: #fff4f0;
  --accent-color: #fdebe9;
  --highlight-color: #ff92ac;

  --black-color: #101010;
  --black-transparent-color: rgb(16, 16, 16, 0.25);
  --white-color: #ffffff;

  --dusty-rose-color: #de9498;
  --sage-green-color: #87937c;
  --moonlight-white-color: #e9e0de;
  --lavender-mist-color: #dfb9e6;

  /* Font family */
  --font-family: "Poppins", sans-serif;

  /* Font size */
  --font-size-base-small: 0.8rem;
  --font-size-base: 1rem;
  --font-size-base-big: 1.2rem;
  --font-size-medium: 1.44rem;
  --font-size-large: 1.728rem;
  --font-size-xl: 2.074rem;
  --font-size-xxl: 2.488rem;

  /* hero */
  --font-size-hero: 9.375rem;
  --font-size-hero-tablet: 2.5rem;
  --font-size-mobile: 3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  background-color: var(--backgorund-color);
  display: flex;
  justify-content: center;
}

/* Mobile set as deafult */
body {
  width: 100%;
  padding-inline: 8px;
/*   border: 1px solid black;
 */}

header {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  font-size: clamp(var(--font-size-mobile), 13vw, var(--font-size-hero));
  line-height: 120%;
}
h2 {
  font-size: var(--font-size-xxl);
}

button {
  border: none;
}

section {
  padding: 40px 0;
}

.section {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* CTA-button  */
.cta-button {
  border-radius: 32px;
  width: 100%;

  padding: 16px 0;

  background-color: var(--highlight-color);
  color: var(--white-color);
  box-shadow: 0 4px 8px var(--black-transparent-color);

  font-size: var(--font-size-base-big);
  font-weight: var(--font-weight-semibold);
  transition: color ease 0.5s;
}

.cta-button:hover {
  background-color: #8b2619;
  cursor: pointer;
}

/* Header */
.logo {
  width: 50%;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.hero img {
  width: 50%;
}

.hero-text {
  font-size: var(--font-size-base-big);
}

.hero .hero-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .hero-cta .hero-price {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

/* Benefit section */
.benefits-backgorund {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}

.benefit-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.benefit-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit-collection .benefit-head {
  font-size: var(--font-size-base-big);
  font-weight: var(--font-weight-semibold);
}

.product-360 {
  display: none;
}

/* Products */
.products-gallery img {
  width: 100%;
  min-width: 0;
}

/* Product color selection */
.product-color-gallery img {
  width: 100%;
  min-width: 0;
}

.color-select {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.color-cirkle {
  width: 50px;
  height: 50px;
  border: 1px solid var(--black-color);
  border-radius: 100px;
  cursor: pointer;
  flex-shrink: 0;
}

.color-selected {
  border: 4px solid var(--black-color);
}

#dusty-rose {
  background-color: var(--dusty-rose-color);
}
#sage-green {
  background-color: var(--sage-green-color);
}
#moonlight-white {
  background-color: var(--moonlight-white-color);
}
#lavender-mist {
  background-color: var(--lavender-mist-color);
}

/* Functions */
.function-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.function-collection .function-col-head {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

/* Specifications */
.collection-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection img {
  width: 60px;
  max-width: 100%;
}

.collection .col-head {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

/*-------------------------- Desktop -------------------------- */
@media (min-width: 840px) {
  body {
    width: 1120px;
    padding-inline: 32px;
  }

  section {
    padding: 80px 0;
  }

  h2 {
    text-align: start;
  }

  /* CTA-button  */
  .cta-button {
    width: fit-content;
    padding: 16px 64px;
  }

  /* Header */
  .logo {
    width: auto;
  }

  /* Hero section */
  .hero {
    position: relative;
    text-align: start;
  }

  h1,
  .hero {
    align-items: start;
  }

  .hero .hero-cta {
    flex-direction: row;
    gap: 32px;
  }

  .hero .hero-cta .hero-price {
    font-size: var(--font-size-xxl);
  }

  .hero-text {
    width: 50%;
    font-size: var(--font-size-medium);
  }

  .hero img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
  }

  /* Benefits  */
  .benefits-backgorund {
    width: 100%;
  }

  .benefits-w-360 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-360 {
    width: 50%;
    display: block;
  }

  /* Products */
  .products-gallery {
    display: flex;
  }

  /*Product color gallery */
  .product-color-gallery {
    display: flex;
  }

  /* Functions list */
  .function-collection-list {
    display: flex;
    justify-content: space-evenly;
  }

  /* Specifications */
  .collection-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .collection img {
    width: auto;
    max-width: 100%;
}
}
