@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --backgorund-color: #FFF4F0;
  --accent-color: #FDEBE9;
  --highlight-color: #FF92AC;
  --black-color: #101010;

  /* Font family */
  --font-family: "Poppins", sans-serif;

  /* Font size */
  --font-size-base-small: 0.8rem;
  --font-size-base: 1rem;
  --font-size-base-big: 1.2rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.2rem;
  --font-size-xl: 1.2rem;
  --font-size-xxl: 1.2rem;

  /* hero */
  --font-size-hero: 64px;
  --font-size-hero-tablet: 2.5rem;
  --font-size-mobile: 2.5rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html{
  background-color: var(--primary-color);
}
/* mobile deafult */


/* Tablet */
@media (width-min: 380px) {
}

/* Desktop */
@media (width-min: 1200px) {

}
